---
title: "Books"
layout: default
permalink: "/books.html"
---
<div class="container">
    <div class="row justify-content-left" style="margin-bottom: 20px;"> Here I share a little the books I have read and my review. Also I have my GoodRead profile. <a href="https://www.goodreads.com/user/show/119534042-max-armando">here</a> </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
        
            
        {% for category in site.categories %} 
        {% if category[0] =="books"%}
        <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}"><span>{{ category[0] }} posts</span></h4>
            
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
         
            {% include main-loop-card.html %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
        {% endif %}

        {% endfor %}

        </div>
        
            <div class="col-md-4">
        {% include sidebar-featured.html %}    
    </div>
        
    </div>
</div>