<div id="lightgallery-{{include.galleryName}}">
    {%assign galleryFolder = include.galleryFolder %}
    {%assign images = site.static_files | where_exp: "item","item.path contains galleryFolder "%}
      {% for image in images%}
      {% unless image.path contains 'Thumbnails' %}
      <a href="{{image.path}}">
        <img src="{{site.baseurl}}/{{galleryFolder}}/Thumbnails/{{image.basename}}_tn.jpg">
      </a>
      {% endunless %}
  {% endfor %}
  </div>
  <script>
    lightGallery(document.getElementById('lightgallery-{{include.galleryName}}'));
  </script>
  