<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/traveling.html">Traveling</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/coding.html">Coding</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/books.html">Books</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about-me.html">About Me</a>
</li>
